<!--Footer template no business logic -->
<div class="footer-content">
    <div class="row footer-row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 text-left">
            <ul class="footer-links">
                <li class="text-light"><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-left">
            <ul class="footer-links">
                <li><a href="#">News</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-left">
            <ul class="text-left footer-links">
                <li><a href="#">Working With us</a></li>
                <li><a href="#">Carrers</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 text-left">
            <div class="followus-wrapper">
                <h5 class="text-left text-white social-media-footer-head">FOLLOW US</h5>
                <div class="social-media-footer">
                    <span class="f-social-icon">
                        <a href="#"><img src="assets/img/facebook.svg"></a>
                    </span>
                    <span class="f-social-icon">
                        <a href="#"><img src="assets/img/twitter.svg"></a>
                    </span>
                    <span class="f-social-icon">
                        <a href="#"><img src="assets/img/instagram.svg"></a>
                    </span>
                    <span class="f-social-icon">
                        <a href="#"><img src="assets/img/google-plus.svg"></a>
                    </span>
                    <span class="f-social-icon">
                        <a href="#"><img src="assets/img/linkedin.svg"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center copyright-wrapper p-3">
        <span class="text-center text-white copyright">
            <a class="text-white" href="#">Copyright</a>
        </span>
    </div>
</div>
<!--template end here-->