<header class="header-top">
    <nav class="navbar navbar-light navbar-expand-lg top-navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#"></a>
            <button class="navbar-toggler text-white" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon text-white"></span>
            </button>
            <div class="collapse navbar-collapse text-white" id="navcol-1">
                <ul class="nav navbar-nav text-light mx-auto">
                    <li class="nav-item text-white" role="presentation">
                        <a class="nav-link active text-white" href="#">Wokring with us</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-white" href="#">How we Hire</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav text-light ml-auto">
                    <li class="nav-item text-white" role="presentation">
                        <a class="nav-link active text-white" href="#">En</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner-head-wrapper">
        <p class="text-center banner-head">Everything start with a prototype</p>
        <p class="text-center banner-text">JOIN US</p>
    </div>
</header>